<div class="p-grid">
    <!-- New -->
    <div class="p-col-fixed" style="width: 25%;">
        <div><h3>New</h3></div>
        <ng-container *ngFor="let wi of newWorkItems">
            <div pDraggable="pnl"  dragHandle=".p-panel-titlebar" (onDragStart)="dragStart(wi)">
                <app-work-item-detail [workItem]="wi"></app-work-item-detail>
            </div>
        </ng-container>
    </div>
    <!-- Active -->
    <div class="p-col-fixed" style="width: 25%;" pDroppable="pnl" (onDrop)="drop()">
        <div><h3>Active</h3></div>
        <ng-container *ngFor="let wi of activeWorkItems">
            <app-work-item-detail [workItem]="wi"></app-work-item-detail>
        </ng-container>
    </div>
    <div class="p-col-fixed" style="width: 25%;">3</div>
    <div class="p-col-fixed" style="width: 25%;">4</div>
</div>

<p-toast position="top-right"></p-toast>
<pre>
    {{draggedItem | json}}
</pre>