

<app-sb-toolbar></app-sb-toolbar>


<div class="p-grid">
    <!-- New -->
    <div class="p-col-fixed" style="width: 25%;" pDroppable="pnl" (onDrop)="drop(0)">
        <div><h3>New</h3></div>
        <ng-container *ngFor="let wi of newWorkItems">
            <div pDraggable="pnl"  dragHandle=".p-panel-titlebar" (onDragStart)="dragStart(wi)">
                <app-work-item-detail [workItem]="wi"></app-work-item-detail>
            </div>
        </ng-container>
    </div>
    <!-- Active -->
    <div class="p-col-fixed" style="width: 25%;" pDroppable="pnl" (onDrop)="drop(1)">
        <div><h3>Active</h3></div>
        <ng-container *ngFor="let wi of activeWorkItems">
            <div pDraggable="pnl"  dragHandle=".p-panel-titlebar" (onDragStart)="dragStart(wi)">
                <app-work-item-detail [workItem]="wi"></app-work-item-detail>
            </div>
        </ng-container>
    </div>
     <!-- Resolved -->
    <div class="p-col-fixed" style="width: 25%;" pDroppable="pnl" (onDrop)="drop(2)">
        <div><h3>Resolved</h3></div>
        <ng-container *ngFor="let wi of resolvedWorkItems">
            <div pDraggable="pnl"  dragHandle=".p-panel-titlebar" (onDragStart)="dragStart(wi)">
                <app-work-item-detail [workItem]="wi"></app-work-item-detail>
            </div>
        </ng-container>
    </div>
    <!-- Closed -->
    <div class="p-col-fixed" style="width: 25%;" pDroppable="pnl" (onDrop)="drop(3)">
        <div><h3>Closed</h3></div>
        <ng-container *ngFor="let wi of closedWorkItems">
            <div pDraggable="pnl"  dragHandle=".p-panel-titlebar" (onDragStart)="dragStart(wi)">
                <app-work-item-detail [workItem]="wi"></app-work-item-detail>
            </div>
        </ng-container>
    </div>
</div>

<p-toast position="top-right"></p-toast>
