<!-- <pre>{{workItems | json}}</pre> -->

<p-table [value]="workItems"  [columns]="selectedColumns" styleClass="p-datatable-responsive-demo p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" 
            placeholder="Choose Columns"></p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th pSortableColumn="priority">Priority<p-sortIcon field="priority"></p-sortIcon></th>
            <th pSortableColumn="state">State <p-sortIcon field="state"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'created'">
                    {{item[col.field] | date : 'short'}}
                </ng-container>
                <ng-container *ngSwitchCase="'lastModified'">
                    {{item[col.field] | date : 'short'}}
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{item[col.field] }}
                </ng-container>
            </td>
            <td>{{item.priority}}</td>
            <td>{{state[item.state]}}</td>            
        </tr>
    </ng-template>
</p-table>