<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>        
    </ng-template>

    <ng-template pTemplate="right">        
        <p-dropdown [options]="iterations" [(ngModel)]="selectedIteration" optionLabel="title" (onChange)="selectIteration(selectedIteration)"></p-dropdown>
    </ng-template>
</p-toolbar>

<p-dialog header="Add New Item" [(visible)]="display" [style]="{width: '450px'}" [modal]="true">
    <div class="p-field">
        <label for="title">Title</label>
        <br>
        <input type="text" pInputText id="title" [(ngModel)]="workItem.title" required autofocus >
        <small class="p-invalid" *ngIf="submitted&&workItem.title" >Title is required.</small>
    </div>
    <div class="p-field">
        <label for="des">Description</label>
        <br>
        <textarea id="des" pInputTextarea  rows="3" cols="35" [(ngModel)]="workItem.description" ></textarea>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

