<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>        
    </ng-template>

    <ng-template pTemplate="right">        
        <p-dropdown [options]="iterations" [(ngModel)]="selectedIteration" optionLabel="title" (onChange)="selectIteration(selectedIteration)"></p-dropdown>
    </ng-template>
</p-toolbar>

<p-dialog header="Add New Item" [(visible)]="display" [style]="{width: '450px'}" [modal]="true">
    <app-work-item-edit [iterationId]="iterationId" [workItem]="workItem" (newItem)="itemAdded()"></app-work-item-edit>
</p-dialog>

